<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="+metaDescription+">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ok</title>
    <h1>Mission 2</h1>
    <h2>Praesent sapien massa, convallis a pelle</h2>
    <link rel="stylesheet" href="css/sb-admin-2.min.css">
    <style>
h1 {
    font-size: 76px;
    line-height: 40px;
}

h2 {
    font-size: 50px;
    line-height: 40px;
}

</style>  </head>
  <body>
<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Proin eget tortor risus.</p><p><br></p><p>Sed porttitor lectus nibh. Sed porttitor lectus nibh. Proin eget tortor risus. Proin eget tortor risus.</p><p><br></p><p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>  
  </body>
  </html>