<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ci luctus et ultrices posuere ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>um primis in faucibus orcubilia Curae; Donec velit neque, aucto</title>
    <h1>Proin eget tortor risus.</h1>
    <h2>Proin eget tortor risus.</h2>
    <link rel="stylesheet" href="css/sb-admin-2.min.css">
    <style>
h1 {
    font-size: 76px;
    line-height: 40px;
}

h2 {
    font-size: 50px;
    line-height: 40px;
}

</style>  </head>
  <body>
<p>sdfsdfsdf sdfs&nbsp; sdfsd sdf sdf sdf sdf</p>  
  </body>
  </html>