 <!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<title></title>
  <meta name="description"  content="   " />
  <meta name="keywords"  content="   " />
<script type="text/javascript" src="/viewPagesAssets/js/customGlobalHeader/globalHeader.js"></script><style>
.banner_bg_top{
				  background: url('/viewPagesAssets/img/userAddedBannerImages/HEasJBBLC0M.jpg'); max-width:100%; height:auto; 
				}
</style>
</head>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus"><section class="top_avanse_banner_area banner_bg_top ">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft" data-wow-delay="0.4s"><span>asfd afd asdf</span></h2>
                            <h2 class="wow fadeInLeft" data-wow-delay="0.6s">asdf asdf asdfa</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><p>asdf asdf sadf asd</p>
    <!-- Optional JavaScript -->
 	</body> 