<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="shortcut icon" href="/viewPagesAssets/img/favicon.ico" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="i luctus et ultr">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>psum primis in faucibus orcices posuere cubilia Curae; Donec velit neque, aucto</title>
    <title>psum primis in faucibus orcices posuere cubilia Curae; Donec velit neque, aucto</title>
    <h1>Proin eget tortor risus.</h1>
    <h2>Proin eget tortor risus.f dfg</h2>
    <link rel="stylesheet" href="css/sb-admin-2.min.css">
    <style>
h1 {
    font-size: 76px;
    line-height: 40px;
}

h2 {
    font-size: 50px;
    line-height: 40px;
}

</style>  </head>
  <body>
<p>Vivamus suscipit tortor eget felis porttitor<font color="#000000" style="background-color: rgb(255, 255, 0);"> volutpat. Nulla port</font>titor accumsan tincidunt. 
Pellentesque<b> in ipsum id o</b>rci porta dapibus.<u> 
Sed po</u>rttitor lectus nibh. Proin eget tortor risus.
Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. 
Donec rutrum congue leo eget malesuada.<br></p>  
  </body>
  </html>