 <!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
</head>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus"><section class="top_avanse_banner_area career_bg_top">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft" data-wow-delay="0.4s"><span>Avanse</span>, Where</h2>
                            <h2 class="wow fadeInLeft" data-wow-delay="0.6s"> Growing Means Learning</h2>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="h_avanse_img">
                            <img src="/viewPagesAssets/img/career-banner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg_grey_light sec_pad">
           
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12 col-sm-12"><h2 class="f_size_40 f_600 t_color3 l_height45 text-center mb_50">Working at Avanse</h2></div>
                    <div class="col-lg-1 col-sm-1"></div>
                    <div class="col-lg-10 col-sm-10 text-center">
                        <p class="f_400 ">As a people-centric organization, we always strive to support our employees with the right atmosphere where each one can learn and grow. Our organizational culture motivates each employee to think of innovative ways to add value in the lives of our customers. We persistently aspire to achieve newer heights which takes us closer to our mission of providing seamless and affordable education financing for every deserving Indian student and to build quality education infrastructure in India to support the education ecosystem</p>
                        <a href="" class="btn_six text-center slider_btn">Read More</a>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="get_started_three sec_pad">
            <div class="circel-bg"></div>
            <div class="circel-yellow-bg"></div>
            <div class="dot-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="sec_title text-center mb_70">
                            <h2 class="f_p f_size_40 l_height45 f_600 t_color3">Cultural Pillars</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-4 text-center mb-5">
                        <img class="pillars_icon" src="/viewPagesAssets/img/icon/government.png">
                        <h4 class="pt-3 f_400">Governance</h4>
                        <p>We believe in good governance. You work independently but have peers and seniors around for help whenever you need it!</p>
    
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center mb-5">
                        <img class="pillars_icon" src="/viewPagesAssets/img/icon/accountability.png">
                        <h4 class="pt-3 f_400">Accountability</h4>
                        <p>We work with pride and take responsibility for our actions and decisions. You enjoy the rewards of your work!</p>
    
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center mb-5">
                        <img class="pillars_icon" src="/viewPagesAssets/img/icon/inclusivity.png">
                        <h4 class="pt-3 f_400">Inclusivity</h4>
                        <p>The word discrimination does not exist in our dictionary. You can join Avanse as long as you’re passionate about the work we do. Nothing else matters.</p>
    
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center mb-5">
                        <img class="pillars_icon" src="/viewPagesAssets/img/icon/meritocracy.png">
                        <h4 class="pt-3 f_400">Meritocracy</h4>
                        <p>If you do well, you get to rise through the ranks. Your performance dictates where you go next.</p>
    
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center mb-5">
                        <img class="pillars_icon" src="/viewPagesAssets/img/icon/value.png">
                        <h4 class="pt-3 f_400"> Value Creation</h4>
                        <p>We’ve built an environment that allows you to thrive. There are new opportunities for you to grow and learn every single day.</p>
    
                    </div>
                    <div class="col-lg-4 col-sm-4 text-center mb-5">
                        <img class="pillars_icon" src="/viewPagesAssets/img/icon/happy.png">
                        <h4 class="pt-3 f_400">Happiness Quotient</h4>
                        <p>We measure our success based on the happiness of our people. The happier you are, the better we perform!</p>
    
                    </div>
                </div>
                
            </div>
        </section><footer class="footer_area f_bg">
        <div class="footer_cta fcta_bg">
           <div class="container">
                <div class="row">
                    <div class="col-lg-3 text-lg-left text-sm-center">
                        <img src="/viewPagesAssets/img/logo.png">
                    </div>
                    <div class="col-lg-6 text-lg-center text-sm-center">
                            <h2 class="">Enroll to transform your Lives</h2>
                            <p class="f_size_22"> Get a hassle free education loan is 3 days</p>
                    </div>
                    <div class="col-lg-3 text-lg-right text-sm-center">
                        <a href="" class="btn_yellow ">Apply Now</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Education Loan </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Avanse Education Loans</a></li>
                                <li><a href="#">Study in India Education Loan</a></li>
                                <li><a href="#">Study Abroad Education Loan</a></li>
                                <li><a href="#">Executive Education Loan</a></li>
                                <li><a href="#">Student Loan Refinancing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Calculator</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Course Expense Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Education Loan Repayment Calculator</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Company</h3>
                            <ul class="list-unstyled f_list">
                                    <li><a href="#">About Avanse</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Investors</a></li>
                                    <li><a href="#">Media Room</a></li>
                                    <li><a href="#">Responsible Lending</a></li>
                                    <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Resources </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Good Credit</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Pay Online</a></li>
                                <li><a href="#">WhatsApp Communication</a></li>
                                <li><a href="#">Ex-gratia FAQs</a></li>
                                <li><a href="#">Sarfaesi Notice</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <p class="mb-2 f_300">Copyright © 2021 Avanse Financial Services Ltd. All Rights Reserved .       <a class="ml-4" href="https://www.digistreetmedia.com/" target="_blank">Site Credits</a></p>
                        <p class="mb-2 f_300">CIN : U67120MH1992PLC068060</p>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="f_social_icon_two text-right mb-2">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <p class="mb-2 f_300 text-lg-right">Phone support: 1800-266-0200</p>
                    </div>
                    <div class="col-lg-12">
                        <p>Disclaimer | Base Lending Rate | Privacy Policy | Terms & Conditions | Ombudsman Scheme | Customer Complaints | Moratorium Policy | WhatsApp T&C | Communication Policy | Digital Partners</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/viewPagesAssets/js/jquery-3.6.0.min.js"></script>
    <script src="/viewPagesAssets/js/propper.js"></script>
    <script src="/viewPagesAssets/js/bootstrap.min.js"></script>
    <script src="/viewPagesAssets/vendors/wow/wow.min.js"></script>
    <script src="/viewPagesAssets/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="/viewPagesAssets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/viewPagesAssets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/viewPagesAssetsvendors/isotope/isotope-min.js"></script>
    <script src="/viewPagesAssets/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/appear.js"></script>
    <script src="/viewPagesAssets/vendors/circle-progress/circle-progress.js"></script>
    <script src="/viewPagesAssets/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/viewPagesAssets/js/plugins.js"></script>
    <script src="/viewPagesAssets/js/main.js"></script>
 	</body> 