 <!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<!-- KEYWORDTOFINDGLOBALHEADERINSERTIONCODESPACESTART -->

<!-- KEYWORDTOFINDGLOBALHEADERINSERTIONCODESPACEEND --><script type="text/javascript" src="/viewPagesAssets/js/customGlobalHeader/globalHeader.js"></script><style>

.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}        .banner_bg_top{
				  background: url('/viewPagesAssets/img/userAddedBannerImages/bannerImage.jpg');
				}
</style>
</head>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus"><section class="top_avanse_banner_area banner_bg_top ">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft" data-wow-delay="0.4s"><span>Whatever it is should be ok</span></h2>
                            <h2 class="wow fadeInLeft" data-wow-delay="0.6s">Proin eget tortor risus.f</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
              <!-- DEMO CONTENT -->
    		    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                    <h3>Design</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                    <h3>Code</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                    <h3>Launch</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
           
    		</div>
		</div>
    </div>
</section>
     <footer class="footer_area f_bg">
        <div class="footer_cta fcta_bg">
           <div class="container">
                <div class="row">
                    <div class="col-lg-3 text-lg-left text-sm-center">
                        <img src="/viewPagesAssets/img/logo.png">
                    </div>
                    <div class="col-lg-6 text-lg-center text-sm-center">
                            <h2 class="">Enroll to transform your Lives</h2>
                            <p class="f_size_22"> Get a hassle free education loan is 3 days</p>
                    </div>
                    <div class="col-lg-3 text-lg-right text-sm-center">
                        <a href="" class="btn_yellow ">Apply Now</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Education Loan </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Avanse Education Loans</a></li>
                                <li><a href="#">Study in India Education Loan</a></li>
                                <li><a href="#">Study Abroad Education Loan</a></li>
                                <li><a href="#">Executive Education Loan</a></li>
                                <li><a href="#">Student Loan Refinancing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Calculator</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Course Expense Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Education Loan Repayment Calculator</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Company</h3>
                            <ul class="list-unstyled f_list">
                                    <li><a href="#">About Avanse</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Investors</a></li>
                                    <li><a href="#">Media Room</a></li>
                                    <li><a href="#">Responsible Lending</a></li>
                                    <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Resources </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Good Credit</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Pay Online</a></li>
                                <li><a href="#">WhatsApp Communication</a></li>
                                <li><a href="#">Ex-gratia FAQs</a></li>
                                <li><a href="#">Sarfaesi Notice</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <p class="mb-2 f_300">Copyright © 2021 Avanse Financial Services Ltd. All Rights Reserved .       <a class="ml-4" href="https://www.digistreetmedia.com/" target="_blank">Site Credits</a></p>
                        <p class="mb-2 f_300">CIN : U67120MH1992PLC068060</p>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="f_social_icon_two text-right mb-2">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <p class="mb-2 f_300 text-lg-right">Phone support: 1800-266-0200</p>
                    </div>
                    <div class="col-lg-12">
                        <p>Disclaimer | Base Lending Rate | Privacy Policy | Terms & Conditions | Ombudsman Scheme | Customer Complaints | Moratorium Policy | WhatsApp T&C | Communication Policy | Digital Partners</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/viewPagesAssets/js/jquery-3.6.0.min.js"></script>
    <script src="/viewPagesAssets/js/propper.js"></script>
    <script src="/viewPagesAssets/js/bootstrap.min.js"></script>
    <script src="/viewPagesAssets/vendors/wow/wow.min.js"></script>
    <script src="/viewPagesAssets/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="/viewPagesAssets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/viewPagesAssets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/viewPagesAssetsvendors/isotope/isotope-min.js"></script>
    <script src="/viewPagesAssets/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/appear.js"></script>
    <script src="/viewPagesAssets/vendors/circle-progress/circle-progress.js"></script>
    <script src="/viewPagesAssets/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/viewPagesAssets/js/plugins.js"></script>
    <script src="/viewPagesAssets/js/main.js"></script>
 	</body> 