<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<title>sdsdf wvefv</title>
  <meta name="description"  content=" sdfsdf dfsa  " />
  <meta name="keywords"  content=" sdfsdf df dfv  " />
<script type="text/javascript" src="/viewPagesAssets/js/customGlobalHeader/globalHeader.js"></script><style>
</style>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
  <section class="top_avanse_banner_area abroad_top_bg">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft" data-wow-delay="0.4s"> asdsdfa</h2>
                            <h3 class="wow fadeInLeft" data-wow-delay="0.6s"> asdfasdf</h3>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="h_avanse_img">
                            <img src="/viewPagesAssets/img/userAddedBannerImages/event1.jpg" alt="sadfsad">
                        </div>
                    </div>
                </div>
            </div>
        </section><p>asfdsadf</p>
    <!-- Optional JavaScript -->
<script> let a = 20;<script> 	</body> 