<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="shortcut icon" href="/viewPagesAssets/img/favicon.ico" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="elit neq">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ubilia Curae; Donec vue,</title>
    <title>ubilia Curae; Donec vue,</title>
    <h1>Whatever it is should be ok</h1>
    <h2>sdf</h2>
    <link rel="stylesheet" href="css/sb-admin-2.min.css">
    <style>
h1 {
    font-size: 76px;
    line-height: 40px;
}

h2 {
    font-size: 50px;
    line-height: 40px;
}

</style>  </head>
  <body>
<p>sdfsdf</p>  
  </body>
  </html>