 <!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<!-- KEYWORDTOFINDGLOBALHEADERINSERTIONCODESPACESTART -->

<!-- KEYWORDTOFINDGLOBALHEADERINSERTIONCODESPACEEND --><script type="text/javascript" src="/viewPagesAssets/js/customGlobalHeader/globalHeader.js"></script><style>
.banner_bg_top{
				  background: url('/viewPagesAssets/img/userAddedBannerImages/DSC_0860.JPG'); max-width:100%; height:auto;; 
				}
</style>
</head>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus"><section class="top_avanse_banner_area banner_bg_top ">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft" data-wow-delay="0.4s"><span>gdfgdf</span></h2>
                            <h2 class="wow fadeInLeft" data-wow-delay="0.6s">dfsgdfgdfg</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><p>dfgsfgdsfgsdfgsdffgCurabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum porta. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh.

Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor volutpat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada.

Donec sollicitudin molestie malesuada. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.

Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.

Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada.</p><footer class="footer_area f_bg">
        <div class="footer_cta fcta_bg">
           <div class="container">
                <div class="row">
                    <div class="col-lg-3 text-lg-left text-sm-center">
                        <img src="/viewPagesAssets/img/logo.png">
                    </div>
                    <div class="col-lg-6 text-lg-center text-sm-center">
                            <h2 class="">Enroll to transform your Lives</h2>
                            <p class="f_size_22"> Get a hassle free education loan is 3 days</p>
                    </div>
                    <div class="col-lg-3 text-lg-right text-sm-center">
                        <a href="" class="btn_yellow ">Apply Now</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Education Loan </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Avanse Education Loans</a></li>
                                <li><a href="#">Study in India Education Loan</a></li>
                                <li><a href="#">Study Abroad Education Loan</a></li>
                                <li><a href="#">Executive Education Loan</a></li>
                                <li><a href="#">Student Loan Refinancing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Calculator</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Course Expense Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Education Loan Repayment Calculator</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Company</h3>
                            <ul class="list-unstyled f_list">
                                    <li><a href="#">About Avanse</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Investors</a></li>
                                    <li><a href="#">Media Room</a></li>
                                    <li><a href="#">Responsible Lending</a></li>
                                    <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Resources </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Good Credit</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Pay Online</a></li>
                                <li><a href="#">WhatsApp Communication</a></li>
                                <li><a href="#">Ex-gratia FAQs</a></li>
                                <li><a href="#">Sarfaesi Notice</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <p class="mb-2 f_300">Copyright © 2021 Avanse Financial Services Ltd. All Rights Reserved .       <a class="ml-4" href="https://www.digistreetmedia.com/" target="_blank">Site Credits</a></p>
                        <p class="mb-2 f_300">CIN : U67120MH1992PLC068060</p>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="f_social_icon_two text-right mb-2">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <p class="mb-2 f_300 text-lg-right">Phone support: 1800-266-0200</p>
                    </div>
                    <div class="col-lg-12">
                        <p>Disclaimer | Base Lending Rate | Privacy Policy | Terms & Conditions | Ombudsman Scheme | Customer Complaints | Moratorium Policy | WhatsApp T&C | Communication Policy | Digital Partners</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/viewPagesAssets/js/jquery-3.6.0.min.js"></script>
    <script src="/viewPagesAssets/js/propper.js"></script>
    <script src="/viewPagesAssets/js/bootstrap.min.js"></script>
    <script src="/viewPagesAssets/vendors/wow/wow.min.js"></script>
    <script src="/viewPagesAssets/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="/viewPagesAssets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/viewPagesAssets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/viewPagesAssetsvendors/isotope/isotope-min.js"></script>
    <script src="/viewPagesAssets/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/appear.js"></script>
    <script src="/viewPagesAssets/vendors/circle-progress/circle-progress.js"></script>
    <script src="/viewPagesAssets/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/viewPagesAssets/js/plugins.js"></script>
    <script src="/viewPagesAssets/js/main.js"></script>
 	</body> 