<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Job Add</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/summernote/summernote/summernote-bs4.min.css" rel="stylesheet">


</head>

<body id="page-top">
	<!-- Page Wrapper -->
		<div id="wrapper">
	
	<div layout:fragment="content">

		<!-- Begin Page Content -->
		<div class="container-fluid">
			<div class="container">
				<h3>Add a new Job</h3>
				<form th:action="@{/admin/jobs/add}" method="post"
					th:object="${jobDTO}" enctype="multipart/form-data">
					<div class="row">
						<div class="col-sm-5">

							<input type="hidden" name="id" th:field="*{id}">
							<div class="form-group">
								<label for="name">Title</label> <input type="text"
									class="form-control" required th:field="*{title}" name="title"
									id="title" placeholder="Enter course title">
							</div>

							<div class="form-group">
								<label for="duration">Description</label> <input type="text"
									class="form-control" required th:field="*{description}"
									name="description" id="description"
									placeholder="Enter course description">

							</div>

							<div class="form-group">
								<label for="duration">Roles and Responsibilities</label> <input type="text"
									class="form-control" required th:field="*{rolesAndResponsibilities}"
									name="rolesAndResponsibilities" id="rolesAndResponsibilities"
									placeholder="Enter roles and responsibilities">

							</div>
							<div class="form-group">
								<label for="duration">Education Qualification</label> <input type="text"
									class="form-control" required th:field="*{educationQualification}"
									name="educationQualification" id="educationQualification"
									placeholder="Enter education qualification">

							</div>
							<div class="form-group">
								<label for="duration">skills</label> <input type="text"
									class="form-control" required th:field="*{skills}"
									name="skills" id="skills"
									placeholder="Enter skills">

							</div>

							<!-- <div class="form-group">
                    <label for="category">Select Course</label>
                    <select class="form-control" th:field="*{categoryId}" id="category" name="category">
                        <option th:each="category :${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"
                        >
                    </select>
                </div> -->


							<div class="form-group">
								<label for="fees">Experience</label> <input type="number"
									class="form-control" required th:field="*{experience}" name="experience"
									id="fees" placeholder="Experience">
							</div>


						</div>


						<div class="col-sm-5">

							<div class="form-group">
								<label for="postedBy">Posted By</label> <input
									type="text" class="form-control" required
									th:field="*{postedBy}" name="postedBy"
									id="postedBy" placeholder="Posted By">
							</div>
							
							<div class="form-group">
								<label for="documentsRequired">Location</label> 
								
								<!-- <input
									type="text" class="form-control" required
									th:field="*{exams}" name="Exams"
									id="exams" placeholder="Exams"> -->
							</div>
							<div class="form-group">
								<label for="documentsRequired">Resume</label> 
								
								<!-- <input
									type="text" class="form-control" required
									th:field="*{exams}" name="Exams"
									id="exams" placeholder="Exams"> -->
							</div>

							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<!-- Content Row -->
		
	</div>
	<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->


</body>

</html>