<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="content">

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">



				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Page Management</h1>
						<a href="#"
							class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
							class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
					</div>

					<!-- Content Row -->
					<div class="row">
						<div class="container-fluid">

							<a th:href="@{/admin/pages/add}" style="margin: 20px 0"
								class="btn btn-primary">Add New Page</a>
							<table class="table">
								<thead class="thead-light">
									<tr>
										<th scope="col">SN</th>
										<th scope="col">Page Title</th>
										<th scope="col">Created on</th>
										<th scope="col">Last Modified</th>
										
										<th scope="col">Status</th>
										<th scope="col">Edit Page</th>
										<th scope="col">Delete</th>

									</tr>
								</thead>
								<tbody>

									<tr th:each="page, iStat : ${pages}">
										<th scope="row" th:text="${iStat.index + 1}">1</th>
										<td><a href ="" th:href="${page.pageTitle}"th:text="${page.pageTitle}">Home </a></td> 
	
										<!-- 
										<td><img src="" height="100px" width="100px"
										th:src="@{${'/images/universityImages/' + university.imageName}}"></td>

										-->

										<td th:text="${page.dateOfCreation}">22-3-2022</td>
										<td th:text="${page.lastModified}">22-3-2022</td> <!-- This one to be replaced by date modified -->

							<td>
								<div class="custom-control custom-switch"
									th:onclick="'togglePageStatus('+${page.id}+')'">
									<input th:inline="text" type="checkbox"
										th:if="${page.isPageActive==true}" checked
										class="custom-control-input"
										th:id="'customSwitch'+${page.id}"> <input
										type="checkbox" th:if="${page.isPageActive==false}"
										class="custom-control-input"
										th:id="'customSwitch'+${page.id}"> <label
										class="custom-control-label"
										th:for="'customSwitch'+${page.id}"><span
										th:id="'pageStatus'+${page.id}"
										th:text="${page.isPageActive==true ?'Page Active':'Page Inactive'}"></span></label>
								</div>
							</td>
							
							<td><a href=""
											th:href="@{/admin/page/edit/{id}(id=${page.id})}"
											class="btn btn-warning">Edit</a></td>

										<td><a href=""
											th:href="@{/admin/page/delete/{id}(id=${page.id})}"
											class="btn btn-danger">Delete</a></td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>
					<!-- Content Row -->
					
				</div>
				<!-- End of Content Wrapper -->
			</div>
			<!-- End of Page Wrapper -->
			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top"> <i
				class="fas fa-angle-up"></i>
			</a>
			<!-- Logout Modal-->
			<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Ready to
								Leave?</h5>
							<button class="close" type="button" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">Select "Logout" below if you are
							ready to end your current session.</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">Cancel</button>
							<a class="btn btn-primary" href="#" th:href=@{/logout}>Logout</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Bootstrap core JavaScript-->
			<script src="/vendor/jquery/jquery.min.js"></script>
			<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
			<!-- Core plugin JavaScript-->
			<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
			<!-- Custom scripts for all pages-->
			<script src="/js/sb-admin-2.min.js"></script>
			<!-- Page level plugins -->
			<script src="/vendor/chart.js/Chart.min.js"></script>
			<!-- Page level custom scripts -->
			<script src="/js/demo/chart-area-demo.js"></script>
			<script src="/js/demo/chart-pie-demo.js"></script>
			<script th:inline="javascript" type="text/javascript">
				let contextPath = 'http://localhost:8080';

				function togglePageStatus(id) {
					
					console.log('toggling id = ' + id);

					let customSwitch = 'customSwitch' + id;

					console.log(document.getElementById(customSwitch));

					console.log(document.getElementById(customSwitch).checked);

					if (document.getElementById(customSwitch).checked == true
							|| document.getElementById(customSwitch).checked == null) {

						document.getElementById(customSwitch).checked = false;

						/* deactivate in controller */
						console.log('Deactivating..');
						
						let http = new XMLHttpRequest();
						let url = contextPath + '/' + 'admin/' 
								+ 'activateDeactivatePage' + '/' + id + '/'
								+ 'DeactivatePage';
						
						http.open("GET", url, false);
						http.send(null);
						console.log(http.responseText);
						document.getElementById('pageStatus' + id).innerHTML = 'Page Inactive';
					}

					else {

						document.getElementById(customSwitch).checked = true;
						let http = new XMLHttpRequest();
						let url = contextPath + '/' + 'admin/'
								+ 'activateDeactivatePage' + '/' + id + '/'
								+ 'ActivatePage';
						console.log('Activating..')
						http.open("GET", url, false);
						http.send(null);
						console.log(http.responseText);
						document.getElementById('pageStatus' + id).innerHTML = 'Page Active';
					}

				}
				
				
				
				
				
			</script>
</body>

</html>