<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Page Add</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/summernote/summernote/summernote-bs4.min.css"
	rel="stylesheet">


</head>

<body id="page-top">
	<!-- Page Wrapper -->

	<div id="wrapper">

		<div layout:fragment="content">


			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- Page Heading -->
				<div
					class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Create Pages</h1>
						<h6 class="m-0 font-weight-bold text-primary">
							<a href="javascript:history.back()"
								class="btn btn-info btn-icon-split btn-sm float-right mr-3">
								<span class="icon text-white-50"> <i
									class="fas fa-arrow-left"></i>
							</span> <span class="text">Back</span>
							</a>
						</h6>
					
				</div>
				<!-- Section Content Start -->
				<!-- DataTales Example -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
					
					</div>
					<div class="card-body">
						<form th:action="@{/admin/pages/add}" class="form-horizontal"
							method="post" th:object="${pageDTO}"
							enctype="multipart/form-data">
							<input type="hidden" name="id" th:field="*{id}"> <input
								type="hidden" required="" name="old_slug" value="">
							<div class="card-header py-3 mb-4">
								<h6 class="m-0 font-weight-bold text-primary">Page Details</h6>
							</div>
							​
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Page
									Title (Required)</label>
								<div class="col-sm-10">
									<input type="text" required th:field="*{pageTitle}"
										class="form-control get_url_name" id="page_title"
										name="page_title">
								</div>
							</div>
							​
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Heading
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control " id="banner_heading"
										name="sub_title" value="" th:field="*{bannerHeading}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Sub
									Heading</label>
								<div class="col-sm-10">
									<input type="text" class="form-control " id="sub_title"
										name="sub_title" value="" th:field="*{bannerSubHeading}">
								</div>
							</div>


							

							<div class="card-header py-3 mb-4">
								<h6 class="m-0 font-weight-bold text-primary">Banner Image
									Desktop</h6>
							</div>
							​
							<div class="form-group">
								<div class="col-sm-10">

									<img src="" height="100px"> <br /> Delete <input
										th:field="*{bannerImageName}" type="checkbox"
										name="image_delete" value="1"> <input type="file"
										name="bannerImageFile" id="image"
										accept="image/jpeg,image/gif,image/x-png,video/*">
									<p class="help-block">Size (width and height) :1920 X 500</p>
								</div>
							</div>
							​ ​ ​
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Banner
									Image Alt</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="image_alt"
										name="image_alt" value="" th:field="*{bannerImageAlt}">
								</div>
							</div>
							
							
							<div class="card-header py-3 mb-4">
								<h6 class="m-0 font-weight-bold text-primary">Content</h6>
							</div>



							<!-- Layout temporarily omitted 

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-6 control-label">Page
										Layout</label>
									<div class="col-sm-10">

										<div class="form-check-inline">
											<label class="form-check-label" for="full_page"> <input
												type="radio" class="form-check-input" id="full_page"
												name="page_layout" value="Full Page" th:field="*{pageLayout}" checked>Full
												Page
											</label>
										</div>
										<div class="form-check-inline">
											<label class="form-check-label" for="box_container">
												<input type="radio" class="form-check-input"
												id="box_container" name="page_layout" value="Box Container" th:field="*{pageLayout}">Box
												Container
											</label>
										</div>
									</div>
								</div>

 -->
							​
							<div class="form-group">
								<label class="col-sm-2 control-label">Main Section
									(Required)</label> ​
								<div class="col-sm-10">
									<textarea class="form-control summernote" id="summernote"
										name="main_section" th:field="*{mainSection}"></textarea>
									​
								</div>
							</div>
							
							
							
							

							<!-- 	​
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Header
										Title</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="header_title"
											name="header_title" value="" th:field="*{headerTitle}">
									</div>
								</div>

 -->
							<div class="card-header py-3 mb-4">
								<h6 class="m-0 font-weight-bold text-primary">Custom CSS
									and JS</h6>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">CSS
									Code</label>
									
							
											

								<div class="col-sm-10">
									<textarea class="form-control" id="css_code" name="css_code"
										th:field="*{cssCode}"></textarea>


								</div>
							</div>

							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">JS
									Code</label>

								<div class="col-sm-10">
									<textarea class="form-control" id="js_code" name="js_code"
										th:field="*{jsCode}"></textarea>


								</div>
							</div>

							<div class="card-header py-3 mb-4">
								<h6 class="m-0 font-weight-bold text-primary">SEO</h6>
							</div>

							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Meta
									Title</label>
								<div class="col-sm-10">
									<input type="text" class="form-control " id="meta_title"
										name="meta_title" value="" th:field="*{metaTitle}">
								</div>
							</div>


							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Meta
									Keywords</label>

								<div class="col-sm-10">
									<textarea class="form-control" id="meta_keywords"
										name="meta_keywords" th:field="*{metaKeyword}"></textarea>


								</div>
							</div>

							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Meta
									Description</label>

								<div class="col-sm-10">
									<textarea class="form-control" id="meta_description"
										name="meta_description" th:field="*{metaDescription}"></textarea>

								</div>
							</div>


							<input type="hidden" name="submit_type" id="submit_type"
								value="1">
							<div class="box-footer pull-right">
								<button type="submit" class="btn btn-success btn-icon-split"
									onclick="">
									<span class="icon text-white-50"> <i
										class="fas fa-check"></i>
									</span> <span class="text">Save</span>
								</button>

								<button type="reset" class="btn btn-secondary ">Reset</button>



							</div>
						</form>
					</div>
				</div>
				
				<script type="text/javascript">
				function onSubmit() {
					if(document.getElementById('mainForm').checkValidity()) {
						document.getElementById('modalButtonForSpinner').click();
						setTimeout(() => {
							document.getElementById('mainForm').submit();
							},5000);
					}
				}
				
				</script>

				<!-- Section Content End -->
				​

				<div></div>
			</div>


			<!-- /.container-fluid -->

		</div>
	</div>
	<!-- End of Main Content -->



	</div>
	<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>






</body>

</html>